
<h4 class="white-text">Run Programs</h4>
<div class="animated fadeInUp">
    <span class="blue-grey-text text-lighten-2 subtitle">Languages</span>
    <hr>
</div>
<div scrollable class="row animated fadeInUpSmall" style="animation-delay: .1s">
    <div class="col l8 m12 s24">
        <div class="card hoverable grey darken-2 yellow-text darken-1 waves-effect" ng-click="gotoLanguage('qb')">
            <div class="card-content">
                <span class="card-title">QBasic</span>
            </div>
        </div>
    </div>
    <div class="col l8 m12 s24">
        <div class="card hoverable grey darken-2 yellow-text darken-1 waves-effect" ng-click="gotoLanguage('pas')">
            <div class="card-content">
                <span class="card-title">Pascal</span>
            </div>
        </div>
    </div>
    <div class="col l8 m12 s24">
        <div class="card hoverable grey darken-2 yellow-text darken-1 waves-effect" ng-click="gotoLanguage('for')">
            <div class="card-content">
                <span class="card-title">Fortran</span>
            </div>
        </div>
    </div>
    <div class="col l8 m12 s24">
        <div class="card hoverable grey darken-2 yellow-text darken-1 waves-effect" ng-click="gotoLanguage('c')">
            <div class="card-content">
                <span class="card-title">C</span>
            </div>
        </div>
    </div>
    <div class="col l8 m12 s24">
        <div class="card hoverable grey darken-2 yellow-text darken-1 waves-effect" ng-click="gotoLanguage('c++')">
            <div class="card-content">
                <span class="card-title">C++</span>
            </div>
        </div>
    </div>
    <div class="col l8 m12 s24">
        <div class="card hoverable grey darken-2 yellow-text darken-1 waves-effect" ng-click="gotoLanguage('js')">
            <div class="card-content">
                <span class="card-title">JavaScript</span>
            </div>
        </div>
    </div>
</div>
